<header class="fullHeaderContainer">

  <nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <a class="navbar-brand" href="#"> CryptoEducation.org </a>

    <button class="navbar-toggler">
      <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbar-menu"> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Free Resources </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Articles </a>
        </li>
      </ul>
      <button class="btn-info"> Contact </button>
    </div>

  </nav>

</header>
