<html>

<head>
  <%- include("./partials/styles.ejs") %>
  <link rel="stylesheet" type="text/css" href="header.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
</head>

<body>
  <div class="mainBody">

    <%- include("./partials/header.ejs") %>

    <div class="container d-flex-inline justify-content-center">
      <div class="row">
        <img class="mt-5 mb-5" src="Brian_Driscoll.jpg" width="300px">
        <h2 class="mt-5 ml-5"> Founder of FreeCryptoEducation.org </h2>
      </div>

      <div class="container">
        <p class="float-right"> hi </p>
      </div>

    </div>

    <%- include("./partials/footer.ejs") %>
  </div>

  <% -include("./partials/scripts.ejs") %>
</body>

</html>
