<html>

  <head>
    <%- include("./partials/styles.ejs") %>
    <link rel="stylesheet" type="text/css" href="header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="mainBody">

    <!-- header section -->
    <%- include("./partials/header.ejs") %>


      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"> Build Your Cryptocurrency Skillset </h1>
          <p class="lead"> We offer free and frequently updated resources on Plutus Programming and Cryptocurrency Technologies to help future crypto professionals launch their careers to the moon. </p>
          <hr class="my-4">
          <button class="btn-info"> See Educational Resources </button>
        </div>
      </div>

      <div class="container">

        <div class="leading-line"> </div>
        <p class="ml-3 whyCryptoTitle"> Why learn about Cryptocurrency? </p>

          <div class="d-inline-flex container">

            <div class="row">

            <img src="bitcoin.jpg" width="280px">
              <div class="container learnTextContainer">
                <p class="learnText ml-5 mr-5 align-baseline col-md"> Cryptocurrencies like Bitcoin and Cardano
                                    are the future of finance and have opened up a new market for
                                    jobs, both in-house and remote, to the world.
                                    Opportunities flourish for those who dive in a
                                    learn about development, marketing, and business
                                    within the crypto space.</p>
              </div>
            </div>
          </div>

      </div>

    </div>
    <%- include("./partials/scripts.ejs") %>
  </body>


</html>
