<html>

  <head>
    <%- include("./partials/styles.ejs") %>
    <link rel="stylesheet" type="text/css" href="header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
  </head>

  <body>
    <div class="mainBody">

    <!-- header section -->
    <%- include("./partials/header.ejs") %>


      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 pageTitle"> Build Your Cryptocurrency Skillset </h1>
          <p class="lead"> We offer free and frequently updated resources on Plutus Programming and Cryptocurrency Technologies to help future crypto professionals launch their careers to the moon. </p>
          <hr class="my-4">
          <button class="btn-info"> See Educational Resources </button>
        </div>
      </div>

      <div class="container">

        <div class="leading-line"> </div>
        <p class="ml-3 whyCryptoTitle"> Why learn about Cryptocurrency? </p>

          <div class="row ">
            <div class="col-sm-5 ml-3">
              <img class="" src="bitcoin.jpg" width="330px">
            </div>
            <div class="col-sm-6 learnTextContainer">
              <p class="learnText ml-5 mr-5 mt-4 align-baseline"> Cryptocurrencies like Bitcoin and Cardano
                                  are the future of finance and have opened up a new market for
                                  jobs, both in-house and remote, to the world. </p>
            </div>
          </div>

      </div>

      <hr class="lineSpacing mt-5">

      <div class="container mt-5">
        <p class="h4 opportunityText ml-5 mr-5"><em> Opportunities flourish for those who dive in a
        learn about blockchain development, marketing, and business. </em></p>
      </div>

    </div>
    <%- include("./partials/scripts.ejs") %>
  </body>


</html>
