<html>

  <head>
    <%- include("./partials/styles.ejs") %>
    <link rel="stylesheet" type="text/css" href="header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="mainBody">

    <!-- header section -->
    <%- include("./partials/header.ejs") %>


      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"> Build Your Cryptocurrency Skillset </h1>
          <p class="lead"> We offer free and frequently updated resources on Plutus Programming and Cryptocurrency Technologies to help future crypto professionals launch their careers to the moon. </p>
          <hr class="my-4">
          <button class="btn-info"> See Educational Resources </button>
        </div>
      </div>

      <div class="container">
        <p> Why learn about Cryptocurrency? </p>
        <p> TEST </p>

      </div>

    </div>
    <%- include("./partials/scripts.ejs") %>
  </body>


</html>
