<html>

  <head>
    <%- include("./partials/styles.ejs") %>
    <link rel="stylesheet" type="text/css" href="header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="mainBody">

    <!-- header section -->
    <%- include("./partials/header.ejs") %>


      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"> Build Your Cryptocurrency Skillset </h1>
          <p class="lead"> We offer free and frequently updated resources on Plutus Programming and Cryptocurrency Technologies to help future crypto professionals launch their careers to the moon. </p>
          <hr class="my-4">
          <button class="btn-info"> See Educational Resources </button>
        </div>
      </div>

      <div class="container">
<<<<<<< HEAD
        <div class="leading-line"> </div>
        <p class="lead ml-2"> Why learn about Cryptocurrency? </p>
          <div class="container">
          <img src="bitcoin.jpg" width="300px"> 
          <p class=""> Bitcoin, Ethereum, Cardano, and many other cryptocurrencies are the future of finance and have opened up a new market for jobs, both in-house and remote, to the world. With this being a
          new industry, opportunities flourish for those who dive in a learn about development, marketing, and business within the crypto space.</p>
          </div>
=======
        <p> Why learn about Cryptocurrency? </p>
        <p> TEST </p>
>>>>>>> fe11fe5c8be8c4e369c990ad7852f72cf91247ff

      </div>

    </div>
    <%- include("./partials/scripts.ejs") %>
  </body>


</html>
